# Binary
terraform-provider-cachix

# GoReleaser
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test
coverage.out

# Go
vendor/
