---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/cachix_cache/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Existing caches can be imported using the cache name:

{{ codefile "shell" "examples/resources/cachix_cache/import.sh" }}
